RewriteCond %{REQUEST_URI} ^/ui/(.+)$
RewriteCond %{REQUEST_URI} !^/ui/css/.*$
RewriteCond %{REQUEST_URI} !^/test/.*$
RewriteCond %{REQUEST_URI} !^/ui/js/.*$
RewriteCond %{REQUEST_URI} !^/ui/fonts/.*$
RewriteCond %{REQUEST_URI} !^/ui/images/.*$
RewriteCond %{REQUEST_URI} !^/mxgraph/.*$
RewriteCond %{REQUEST_URI} !^/appsui/.*$
RewriteCond %{REQUEST_URI} !^/Help/.*$
RewriteRule ^(.+)$ /index.html

